/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
=======
 
/*.card-cancel-button {
    background-color: yellow !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/

@import './styles/global-overrides';
>>>>>>> 101e0d6ac5e1169d130980c444b3611d1b2254ec
